<%- include('../partials/header.ejs') %>
<div class="sign-container">
  <h1>Sign In</h1>
<form action="/auth/sign-in" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <button type="submit">SIGN IN</button>
</form>
</div>

<%- include('../partials/footer.ejs')%>
