<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comic Review Boards</title>
    <link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/comics.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/rating.css">
<link rel="stylesheet" href="/css/utilities.css">
<link rel="stylesheet" href="/css/navbar.css">
  </head>
  <body>
    
    <nav>
      <a href="/">🏠</a>
      <div>
        <a href="/comics">ALL COMICS</a>
        <% if (user) { %>
        <a href="/comics/new">ADD COMICS</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span><%= user.username %></span>
        <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
        <% } %>
      </div>
    </nav>
  
      
