<div class="home-container">
    
    <!-- Main Section -->
    <main class="hero">
        <img class="hero-image" src="https://i.imgur.com/BQBainb.png" alt="Comic Review Boards" />
        <p>Your ultimate destination for all things comics. Explore, review, and share your opinions!</p>
        <a href="/comics" class="button">View Comics</a>
    </main>
    <%- include('./partials/header.ejs') %>
    
    
  </div>
  