<div class="home-container">
    
    <!-- Main Section -->
    <main class="hero">
        <a href="/comics" class="button">View Comics</a>
    </main>
    <%- include('./partials/header.ejs') %>
    
    
  </div>
  