<div class="container">
  <%- include('./partials/header.ejs') %>
  <main>
    <section class="hero">
      <h1>Welcome to the Comic Review Board</h1>
      <p>
        Your ultimate destination for all things comics. Explore, review, and
        share your opinions!
      </p>
      <a href="/comics" class="button">View Comics</a>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>
</div>
