.comic-item {
    position: relative;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .comic-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

.comic-content {
  margin-bottom: 2rem;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 1rem;
  position: static;
}

.comic-item {
    position: relative;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .comic-content {
    margin-bottom: 2rem;
  }
  
  .action-buttons {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  
  .edit-button,
  .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  }
  
  .edit-button:hover {
    background-color: rgb(255, 69, 69);
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
  }
  
  .button:hover {
    transform: scale(1.05);
  }
  
  .comic-item {
      position: relative;
      padding: 1rem;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
    }
  
    .comic-image {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  
  .comic-content {
    margin-bottom: 2rem;
  }
  
  .action-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 1rem;
    position: static;
  }
  