:root {
  --color-1: #fb9775;
  --color-2: #302344;
  --color-3: #62a0de;
  --color-4: #b63e65;
  --color-5: #cdd9f1;
  --color-6: #eec9a0;
  --color-7: #5a243b;
  --color-8: #8d5f90;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.comic-item {
  padding: 1rem;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(25% - 1rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.comic-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comic-content {
  margin-top: 1rem;
  text-align: center;
  background-color: var(--color-6);
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  top: 55rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  z-index: 1000;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.show-comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}
