:root {
  --container-max-width: 1200px;
  --container-padding: 1rem;
}

.container {
  width: 90%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

header, main, footer {
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding);
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--color-2);
  color: var(--color-5);
}
