:root {
    --color-1: #fb9775;
    --color-2: #302344;
    --color-3: #62a0de;
    --color-4: #b63e65;
    --color-5: #cdd9f1;
    --color-6: #eec9a0;
    --color-7: #5a243b;
    --color-8: #8d5f90;
    
  }
 
  
/* From Uiverse.io by aguerquin */ 
.rating > label {
  margin-right: 4px;
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.rating:not(:checked) > label > svg {
  fill: #666;
  transition: fill 0.3s ease;
}

.rating > input:checked ~ label > svg {
  fill: #ffa723;
}

.rating:not(:checked) > label:hover ~ label > svg,
.rating:not(:checked) > label:hover > svg {
  fill: #ff9e0b;
}

#star1:hover ~ label > svg,
#star1:hover > svg {
  fill: var(--color-8) !important;
}

#star2:hover ~ label > svg,
#star2:hover > svg {
  fill:var(--color-6) !important;
}

#star3:hover ~ label > svg,
#star3:hover > svg {
  fill: var(--color-3) !important;
}

#star4:hover ~ label > svg,
#star4:hover > svg {
  fill: #22885e !important;
}

#star5:hover ~ label > svg,
#star5:hover > svg {
  fill: #7951ac !important;
}

#star1:checked ~ label > svg {
  fill: var(--color-8);
}

#star2:checked ~ label > svg {
  fill: var(--color-6);
}

#star3:checked ~ label > svg {
  fill: #0848ea;
}

#star4:checked ~ label > svg {
  
  fill: #19c37d;
}

#star5:checked ~ label > svg {
  fill: #ab68ff;
}
